*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url(https://picsum.photos/id/1036/4608/3072);
    background-attachment: fixed;
    background-size: cover;
    padding: 5% 10%;
}

.cards{
background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 5% 10% ;


}

.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 1 1 200px;
flex: 0 1 200px;
margin: 5px;

}

.img{
    background-image: url(https://picsum.photos/id/1037/367/267);
    background-size: cover;
    height: 25vh;
    width: 50vh;
    padding: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.text{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: start;
    padding: 10%;
    width: 100%;
}

.btn1{
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
    

.btn2{
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    align-self: start;
    padding: 10px 20px;
    width: 45%;
    
}